<div class="mobile-menu">
  <div class="mobile-menu__content">

    <div class="container">

      <a class="logo mobile-menu__logo" href="#header">
        <img class="logo__img mobile-menu__logo-img" width="50" height="50" src="../../images/icons/logo.png"
          alt="Логотип сайта">
      </a>

      @include('../components/_burger.html', {
      'class-btn': 'burger burger--close',
      'class-line': 'burger__line burger__line--close'
      })

      <ul class="mobile-menu__items">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link mobile-menu__link--active status  wrapper-click" href="#presentation">
            О нас
          </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link status wrapper-click" href="#price">
            Прайс-лист
          </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link status wrapper-click" href="#documents">
            Документация
          </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link status wrapper-click" href="#contacts">
            Контакты
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

@include('../components/_overlay.html')