.header {
  padding: 40px 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  transition: padding 0.4s,
    transform 0.3s;
  animation-name: header;
  animation-fill-mode: both;
  animation-duration: 1s;
  z-index: 1;

  @keyframes header {

    from {
      transform: scale3d(1, 1, 1);
    }

    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
  }

  @include max-w($lg) {
    padding: 18px 0;
  }

  @include max-w($sm) {
    padding: 11px 0;
  }

  &--scroll {
    transition: padding 0.4s;
    padding: 5px;
    background-color: #85c44552;
    animation-name: header-scroll;
    animation-fill-mode: both;
    animation-duration: 1s;

    @keyframes header-scroll {

      from {
        transform: scale3d(1, 1, 1);
      }

      50% {
        transform: scale3d(1.05, 1.05, 1.05);
      }

      to {
        transform: scale3d(1, 1, 1);
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max-w($sm) {
      position: relative;
    }
  }

  .header-menu {
    display: flex;
    font-size: 14px;
    color: $silver;
    line-height: 1;

    &__item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    @include max-w($lg) {
      display: none;
    }

    &__tel {
      font-size: 18px;
      font-variant: lining-nums;

      @include max-w($lg) {
        margin-right: 55px;
      }
    }

    &__tel-dot {
      margin-right: 8px;
      position: relative;


      &::before {
        content: '';
        position: absolute;
        top: 43%;
        border: 1px solid #d85f2a;
        background-color: #d85f2a;
        border-radius: 50%;
        width: 3px;
        height: 3px;
        border-radius: 50%;
      }
    }
  }
}

.header.header--scroll {
  .header-menu {
    transition: color 0.4s;
    color: $dark;
  }
}